/* start variables */
:root {
    --main-color: #2a2a2a;
    --secondary-color: #ff6f61;
    --third-color: #03a4ed;
    --paragraph-line-height: 2;
    --heading-line-height: 1.5;
    --section-padding: 100px 0;
    --transition: 0.4s;
}

/* end variables */

/* start global rules */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start scroll button */
.scroll {
    position: fixed;
    z-index: 10;
    border: none;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 500;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    display: none;
}

.scroll:hover {
    background-color: var(--third-color);
}

@media (max-width: (768px)) {
    .scroll {
        width: 40px;
        height: 40px;
    }
}

/* end scroll button */

/* start header */
header {
    background-color: #fafafa;
    min-height: 97px;
    position: relative;
    z-index: 3;
    transition: var(--transition);
}

header .container {
    display: flex;
    align-items: center;
    height: 97px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header nav .toggle {
    position: relative;
    width: 25px;
    height: 16px;
    cursor: pointer;
}

header nav .toggle span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: var(--transition);
}

header nav .toggle span:nth-child(1) {
    top: 0;
}

header nav .toggle span:nth-child(2) {
    top: 8px;
}

header nav .toggle span:nth-child(3) {
    top: 16px;
}

header nav .btn span:nth-child(2) {
    opacity: 0;
}

header nav .btn span:nth-child(3),
header nav .btn span:nth-child(1) {
    top: 8px;
    background-color: var(--secondary-color);
}

header nav .btn span:nth-child(1) {
    transform: rotate(45deg);
}

header nav .btn span:nth-child(3) {
    transform: rotate(-45deg);
}

header nav .show {
    display: block;
    position: absolute;
    width: 35%;
    background-color: #eee;
    top: 220px;
    right: -14%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: full 0.6s;
}
@keyframes full {
    from{
        height: 0;
    }
    to{
        height: 290px;
    }
}
header nav .show li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

header nav .toggle i {
    font-size: 25px;
    cursor: pointer;
}

@media (min-width: 768px) {
    header nav .toggle {
        display: none;
    }
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header nav ul {
        gap: 20px;
    }
}

header nav ul li .active {
    color: var(--secondary-color);
}

header nav ul li a {
    color: var(--main-color);
    letter-spacing: 1px;
    transition: var(--transition);
    font-weight: 500;
}

header nav ul li:hover a {
    color: var(--secondary-color);
}

header button {
    border: none;
    margin-left: 50px;
    padding: 11px 22px;
    border-radius: 35px;
    background-color: var(--secondary-color);
    transition: 0.5s;
}

header button:hover {
    background-color: var(--third-color);
}

@media (max-width: 991px) {
    header button {
        display: none;
    }
}


header button a {
    color: white;
}

/* end header */

/* start landing */
.landing {
    height: 100vh;
    background-image: url("../images/banner-right-image.png"),
        url("../images/baner-dec-left.png");
    background-repeat: no-repeat no-repeat;
    background-position: top right, top left;
}

@media (max-width: 991px) {
    .landing {
        background-image: url("../images/baner-dec-left.png");
        background-position: top left;
    }
}

.landing .container {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.landing .text {
    width: 45%;
}

@media (max-width: 991px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text p:first-child {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.landing .text h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: var(--heading-line-height);
    color: var(--main-color);
}

.landing .text h1 span {
    color: var(--third-color);
}

.landing .text h1 span:last-child {
    color: var(--secondary-color);
}

.landing .text p:nth-child(3) {
    color: var(--main-color);
    line-height: var(--paragraph-line-height);
}

.landing .text .contact {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
@media (max-width:768px){
    .landing .text .contact{
        gap: 7px;
    }
}
.landing .text .contact button {
    border: none;
    background-color: var(--third-color);
    padding: 12px 20px;
    border-radius: 35px;
    transition: 0.5s;
}
@media (max-width:768px){
    .landing .text .contact button{
        padding: 12px 15px;
    }
}
.landing .text .contact button:hover {
    background-color: var(--secondary-color);
}

.landing .text .contact button a {
    color: white;
}

.landing .text .contact .phone i {
    padding: 13px;
    background: linear-gradient(105deg,
            rgba(255, 104, 95, 1) 0%,
            rgba(255, 144, 104, 1) 100%);
    border-radius: 50%;
    color: white;
    margin-right: 7px;
}

.landing .text .contact .phone span {
    color: var(--secondary-color);
    cursor: pointer;
}

.landing .text .shuffle {
    margin-top: 50px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    gap: 10px;
}

.landing .text .shuffle span {
    cursor: pointer;
    padding: 5px;
}

.landing .text .shuffle span:first-child {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.landing .text .shuffle span:nth-child(2):hover,
.landing .text .shuffle span:last-child:hover {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* end landing */

/* start services */
.services {
    padding: var(--section-padding);
    background-image: url("../images/services-left-dec.png"),
        url("../images/services-right-dec.png");
    background-repeat: no-repeat no-repeat;
    background-position: top left, bottom right;
}

/** start component **/
.main-heading {
    text-align: center;
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .main-heading {
        width: 100%;
    }
}

.main-heading h2 {
    font-size: 32px;
    color: var(--main-color);
    line-height: var(--heading-line-height);
}

.main-heading span:first-child {
    color: var(--third-color);
}

.main-heading span:last-child {
    color: var(--secondary-color);
}

.main-heading p {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 35%;
}

/** end component **/
.services .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

.services .boxes .box {
    padding: 25px 45px;
    box-shadow: 0 0 5px 2px #eee;
    background-color: white;
    text-align: center;
    border-radius: 35px;
}

.services .boxes .box h3 {
    color: var(--main-color);
}

.services .boxes .box img {
    margin: 40px 0;
}

.services .boxes .box p {
    color: var(--main-color);
    padding-top: 30px;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

.services .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    margin-top: 40px;
}

.services .dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: block;
}

.services .dots span:first-child {
    width: 13px;
    height: 13px;
}

.services .dots span:not(span:first-child) {
    opacity: 35%;
}

.services .dots span:not(span:first-child):hover {
    width: 13px;
    height: 13px;
    opacity: 100%;
}

/* end services */

/* start about */
.about {
    padding: var(--section-padding);
}

.about .container {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
    }
}

.about .text {
    flex-basis: 50%;
}

.about .text h1 {
    line-height: var(--heading-line-height);
    color: var(--main-color);
    margin-bottom: 25px;
}

.about .text h1 span {
    color: var(--third-color);
}

.about .text h1 span:last-child {
    color: var(--secondary-color);
}

.about .text p {
    color: var(--main-color);
    line-height: var(--paragraph-line-height);
}

.about .image {
    display: flex;
    align-items: center;
}

.about .image img {
    width: 100%;
}

.about .text .boxes {
    display: flex;
    gap: 25px;
    margin-top: 35px;
}

@media (max-width: 767px) {
    .about .text .boxes {
        flex-direction: column;
        text-align: center;
    }
}

.about .text .boxes .box h2 {
    font-size: 50px;
    color: var(--main-color);
    margin: 15px 0;
}

.about .text .boxes .box span {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.about .text .boxes .box p {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* end about */

/* start portfolio */
.portfolio {
    padding: var(--section-padding);
    background-image: url("../images/portfolio-left-dec.png");
    background-repeat: no-repeat;
    background-position: top 40px left 30px;
}

.portfolio .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 0 25px;
}
@media (max-width: 768px) {
    .portfolio .image-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
.portfolio .image-container .box {
    overflow: hidden;
    position: relative;
}

.portfolio .image-container .box .hover {
    position: absolute;
    bottom: -100%;
    right: 30px;
    background-image: url("../images/hover-bg.png");
    background-repeat: no-repeat;
    width: 239px;
    height: 211px;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    color: white;
    padding: 0 25px;
}

.portfolio .image-container .box:hover .hover {
    bottom: 30px;
}

.portfolio .image-container .box .hover h3 {
    font-size: 23px;
    font-weight: 800;
}

.portfolio .image-container .box .hover span {
    display: block;
    margin-bottom: 20px;
}

.portfolio .image-container .box img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.portfolio .image-container .box:hover img {
    opacity: 70%;
}

.portfolio .image-container .box i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: var(--secondary-color);
    color: white;
    opacity: 60%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.portfolio .image-container .box:first-child i {
    left: 60px;
}

.portfolio .image-container .box:last-child i {
    right: 10px;
}

.portfolio .image-container .box i:hover {
    opacity: 100%;
}

@media (max-width: 991px) {
    .portfolio .image-container .box i {
        display: none;
    }
}

.portfolio .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    margin-top: 40px;
}

.portfolio .dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: block;
}

.portfolio .dots span:nth-child(3) {
    width: 13px;
    height: 13px;
}

.portfolio .dots span:not(span:nth-child(3)) {
    opacity: 35%;
}

.portfolio .dots span:not(span:nth-child(3)):hover {
    width: 13px;
    height: 13px;
    opacity: 100%;
}

/* end portfolio */

/* start plans */
.plans {
    padding: 155px 0;
    background-image: url("../images/tables-left-dec.png"),
        url("../images/tables-right-dec.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
}

.plans .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.plans .boxes .box {
    background-color: white;
    border-radius: 35px;
    padding: 45px 0px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background-repeat: no-repeat;
}

.plans .boxes .box:first-child {
    background-image: url("../images/first-plan-bg.png");
    background-size: contain;
}

.plans .boxes .box:nth-child(2) {
    background-image: url("../images/second-plan-bg.png");
    background-position: bottom -20px right -20px;
}

.plans .boxes .box:last-child {
    background-image: url("../images/third-plan-bg.png");
    background-position: bottom -25px right -15px;
}

.plans .boxes .box h3 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 20px;
}

.plans .boxes .box span:not(.info span) {
    text-decoration: line-through;
    color: var(--secondary-color);
    font-size: 14px;
}

.plans .boxes .box h4 {
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 20px;
}

.plans .boxes .box .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #7a7a7a;
}

.plans .boxes .box button {
    border: none;
    color: white;
    background-color: var(--third-color);
    padding: 15px 40px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 2;
}

.plans .boxes .box button:hover {
    background-color: var(--secondary-color);
}

/* end plans */

/* start subscribe */
.subscribe {
    padding-bottom: 100px;
    margin-top: -50px;
}

.subscribe .box {
    background-image: url("../images/subscribe-bg.png");
    background-repeat: no-repeat;
    padding: 60px 0;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    color: white;
}

.subscribe .box::after {
    content: "";
    position: absolute;
    background-image: url("../images/subscribe-dec.png");
    width: 193px;
    height: 136px;
    top: -20px;
    right: -18px;
}

@media (max-width: 991px) {
    .subscribe .box::after {
        top: -80px;
        right: 0;
    }
}

.subscribe .box h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.subscribe .box form {
    padding: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .subscribe .box form {
        flex-direction: column;
    }
}
.subscribe .box form input:not(input[type="submit"]) {
    border: none;
    outline: none;
    padding: 9px 15px;
    max-width: 100%;
}

.subscribe .box form input[type="url"] {
    border-right: 1px solid #eee !important;
}

.subscribe .box form input::placeholder {
    color: #7a7a7a;
}

.subscribe .box form input[type="submit"] {
    background-color: var(--third-color);
    color: white;
    border-radius: 35px;
    padding: 15px 55px;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    max-width: 100%;
}

.subscribe .box form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* end subscribe */

/* start video */
.video {
    padding: var(--section-padding);
    background-image: url("../images/videos-left-dec.png"),
        url("../images/videos-right-dec.png");
    background-repeat: no-repeat no-repeat;
    background-position: top left, top right;
}

.video .video-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.video .video-grid .frame {
    flex: 1;
    position: relative;
}

.video .video-grid iframe {
    border-radius: 20px;
    height: 650px;
}

.video .video-grid .frame .layer,
.video .video-grid .images-container .img-box .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 183px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    background: linear-gradient(105deg,
            rgba(255, 104, 95, 1) 0%,
            rgba(255, 144, 104, 1) 100%);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.video .video-grid .frame .layer {
    width: 183px;
    height: 130px;
    font-size: 15px;
}

.video .video-grid .frame .layer h3 {
    font-size: 20px;
}

.video .video-grid .images-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video .video-grid .images-container .img-box {
    position: relative;
    cursor: pointer;
}

.video .video-grid .images-container .img-box .layer {
    width: 215px;
    height: 66px;
    font-size: 18px;
}

.video .video-grid .images-container .img-box:first-child .layer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (max-width: 991px) {
    .video .video-grid {
        flex-direction: column;
    }

    .video .video-grid .images-container .img-box img {
        width: 100%;
    }
}

/* end video */

/* start contact */
.contact-us {
    padding-bottom: 100px;
    background-image: url("../images/contact-left-dec.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
}

.contact-us::before {
    content: "";
    position: absolute;
    background-image: url("../images/contact-dec.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 460px;
    right: 0;
    top: 300px;
    z-index: -1;
}

.contact-us .heading h2 {
    font-size: 32px;
    color: var(--main-color);
    line-height: var(--heading-line-height);
    width: 50%;
    margin-bottom: 25px;
}

.contact-us .heading span:first-child {
    color: var(--third-color);
}

.contact-us .heading span:last-child {
    color: var(--secondary-color);
}

.contact-us .reach-us {
    display: flex;
    align-items: center;
}

.contact-us .reach-us form {
    background-image: url("../images/contact-form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-basis: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    position: relative;
    right: 60px;
    height: 460px;
}

.contact-us .reach-us form input {
    border: none;
    outline: none;
}

.contact-us .reach-us form input::placeholder {
    font-size: 15px;
    color: #a2a2a2;
}

.contact-us .reach-us form input:not(input[type="submit"]) {
    padding: 7px 20px;
    border-bottom: 1px solid #b6e5fa;
    width: 70%;
}

.contact-us .reach-us form input:last-child {
    padding: 13px 25px;
    border-radius: 35px;
    background-color: var(--secondary-color);
    color: white;
    transition: var(--transition);
    cursor: pointer;
}

.contact-us .reach-us form input:last-child:hover {
    background-color: var(--third-color);
}

.contact-us .reach-us iframe {
    height: 350px;
    max-width: 100%;
    border-radius: 20px;
}

.contact-us .box {
    display: flex;
    gap: 30px;
    margin: 30px 0 0 40px;
}

.contact-us .box .phone,
.contact-us .box .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-us .box .phone i,
.contact-us .box .email i {
    padding: 15px;
    background: linear-gradient(105deg,
            rgba(255, 104, 95, 1) 0%,
            rgba(255, 144, 104, 1) 100%);
    border-radius: 50%;
    color: white;
    margin-right: 7px;
}

.contact-us .box .info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contact-us .box .phone span,
.contact-us .box .email span {
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 15px;
}

@media (max-width: 991px) {
    .contact-us .reach-us {
        flex-direction: column;
        gap: 25px;
    }

    .contact-us .reach-us form {
        right: 0;
    }

    .contact-us .box {
        flex-direction: column;
    }
}

/* end contact */

/* start footer */
footer {
    padding: 100px 0 20px;
    background-image: url("../images/footer-dec.png");
    background-repeat: no-repeat;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    footer .container {
        flex-direction: column;
        gap: 20px;
    }
}

footer .box p,
li {
    color: #a2a2a2;
    font-size: 15px;
    font-weight: 400;
}

footer .box:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

footer .box:first-child .icon {
    display: flex;
    gap: 8px;
}

footer .box:first-child .icon i {
    width: 30px;
    height: 30px;
    background-color: var(--third-color);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}

footer .box:first-child .icon i:hover {
    background-color: var(--secondary-color);
}

footer .box:not(:first-child) h5 {
    font-size: 18px;
    margin-bottom: 35px;
    color: var(--main-color);
}

footer .box li {
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.4s;
    width: fit-content;
}

footer .box li:hover {
    color: var(--secondary-color);
}

footer .box:last-child .input {
    margin-top: 30px;
}

footer .box:last-child .input button {
    margin-left: -35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

footer .box:last-child .input form {
    display: flex;
    align-items: center;
}

footer .box:last-child .input form input {
    border: none;
    outline: none;
    background-color: var(--third-color);
    padding: 12px 20px;
    border-radius: 20px;
    width: 100%;
}

footer .box:last-child .input form input::placeholder {
    color: white;
}

footer .box:last-child .input i {
    color: white;
}

footer .copyright {
    margin-top: 35px;
    text-align: center;
    color: #a2a2a2;
    padding: 0 5px;
}

footer .copyright h5 {
    margin-top: 10px;
    font-weight: 500;
}

footer .copyright h5 a {
    color: var(--secondary-color);
    font-weight: 800;
    transition: 0.4s;
}

footer .copyright h5 a:hover {
    color: var(--third-color);
}

footer .copyright h5:last-child i {
    color: var(--third-color);
}

/* end footer */